body {
    margin: 0px;
    padding: 0px;
}

div#profile.container {
/* margin-left: 10px;
 margin-right: 10px;*/
margin-bottom: 5px;
 border-radius: 20px 20px;
 padding: 0px 10px;
 border: 1px solid black;
}

div#logo {
 position: relative;
}

div#banner {
    width: 100%;
    height: 550px;
}

div#banner img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

div#profile-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: -75px;
}

div#user-data {
    margin-top: 65px;
}

div#editname {
    display: flex;
}

div#name {
    margin-top: 0px;
    margin-left: 30px;
    font-size: 38px;
}

div#pers-inf {
    margin-top: 10px;
    margin-left: 70px;
    width: 700px;
    margin-right: 20px;
    font-size: 24px;
    display: inline-block;
}

div#company-logo {
    margin-top: -20px;
    display: inline-block;
}

div#company-logo img {
    width: 70px;
    height: 30px;
}

div#editbutton1 i {
    color: black;
    margin-left: 0px;
    margin-top: 0px;
}