* {
    margin: 0px;
    padding: 0px;
}

div#profile.container {
 margin: 10px;
 border-radius: 20px;
 padding: 25px;
 border: 10px  gray;
}

div#logo {
 display: flex;
 position: relative;
}

img#banner {
    width: 2500px;
    height: 550px;
    border-radius: 20px;
}

div#profile-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: -75px;
}

div#user-data {
    margin-top: 65px;
}

div#name {
    margin-top: 65px;
    margin-left: 20px;
    font-size: 38px;
}

div#pers-inf {
    margin-top: 10px;
    margin-left: 70px;
    font-size: 24px;
}

div#company-logo img {
    right: 200px;
    bottom: -80px;
    width: 70px;
    height: 30px;
    position: absolute;
}

