body {
    margin: 0px;
    padding: 0px;
}

div#profile.container {
/* margin-left: 10px;
 margin-right: 10px;*/
 margin-bottom: 5px;
 border-radius: 20px 20px;
 padding: 0px 0px;
 border: 1px solid black;
}

div#logo {
 position: relative;
}

div#banner {
    width: 100%;
    height: 550px;
}

div#banner img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

div#profile-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: -75px;
}

div#user-data {
    margin-top: 65px;
}

div#editname {
    display: flex;
}

div#name {
    margin-top: 0px;
    margin-left: 30px;
    font-size: 38px;
}

div#editbutton1 i {
    color: black;
    margin-left: 0px;
    margin-top: 0px;
}

div#editpersinf {
    display: flex;
}

div#pers-inf {
    margin-top: 10px;
    margin-left: 5%;
    width: 45%;
    margin-right: 5%;
    font-size: 24px;
}

div#moreinfpers {
     width: 25%;
}

div#company-logo {
    width: 30px;
    margin-top: 0px;
}

div#company-logo img {
    width: 70px;
    height: 30px;
}

div#allbuttons {
    display: flex;
    margin-inline: 5px;
    margin: 5px 0px;
}



div#about.container {
     margin-bottom: 5px;
     border-radius: 20px 20px;
     padding: 0px 0px;
     border: 1px solid black;
}

div#addmoreabout{
    display: flex;
}

div#addmoreabout h1 {
    width: 95%;
}


div#profesional-info.container {
    margin-bottom: 5px;
    border-radius: 20px 20px;
    padding: 0px 0px;
    border: 1px solid black;
}

div#addexperience{
    display: flex;
}

div#addexperience h1 {
    width: 95%;
}

div.addbutton i {
    color: black;
}

div.editprofinfo {
    display: flex;
    margin: 5px 10px;
}

div.prev-icon {
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

div.prev-icon img {
    width: 50%;
    height: 20%;   
}

div.prev-info {
    width: 85%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.editdelete i {
    color: black;
}

div#addeducation{
    display: flex;
}

div#addeducation h1{
    width: 95%;
}





div#skills.container {
    margin-bottom: 5px;
    border-radius: 20px 20px;
    padding: 0px 0px;
    border: 1px solid black;
}