* {
    margin: 0px;
    padding: 0px;
}

div#profile.container {
 margin: 5px 5px;
 border-radius: 20px;
 padding: 10px;
}

div#logo {
 display: flex;
}

img#banner {
    width: 1080px;
    height: 400px;
    border-radius: 20px;
}